.job_posting_entry {
  display: block;
  height: emCalc(100px);

  &:hover {
    background-color: $peter-river;
    a {
      color: white;
      &:hover {
        color: red;
      }
    }
  }

  h4 {
    margin-left: emCalc(40px);
  }

  h6 {
    margin-left: emCalc(58px);
  }

  img {
    float: left;
  }
}