
  <div class="container">
    <div class="row">
      <hr>
      <div class="large-7 columns">
        <p>Created by Josh Wilson
          <br>
        My website: <a href="http://jwils.me">jwils.me</a>

        </p>
      </div> <!-- /span8 -->

      <div class="large-5 columns text-right">
        <div class="footer-banner">
          <dl>
            <dd>Find the source on Github: <a href="http://github.com/jwils/penncsjobs">http://github.com</a></dd>
            <dd>Design based on <a href="http://websymphony.net/almost-flat-ui/" rel="nofollow" target="_blank">Almost Flat UI</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
