<div class="large-12 columns">
  <% if notice %>
      <div data-alert="" class="alert-box success">
        <%= notice %>
        <a href="" class="close">×</a>
      </div>
  <% end %>

  <% if alert %>
      <div data-alert="" class="alert-box alert">
        <%= alert %>
        <a href="" class="close">×</a>
      </div>
  <% end %>
</div>