<div class="large-3 pull-9 columns">
  <div class="docs section-container accordion" data-section="" data-options="deep_linking: false" style="">

    <section class="section  active" style="padding-top: 48px;">
      <p class="title" style="left: 0px;"><a href="#">Navigation</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-pagination">Pagination</a></li>
          <li><a class="" href="#doc-sidenav">Side Nav</a></li>
          <li><a class="" href="#doc-subnav">Sub Nav</a></li>
          <li><a class="" href="#doc-topbar">Top Bar</a></li>
          <li><a class="" href="#doc-breadcrumbs">Breadcrumbs</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 216px;"><a href="#">Buttons</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-almost-flat-buttons">Almost Flat Buttons</a></li>
          <li><a class="" href="#doc-almost-flat-button-groups">Almost Flat Button Groups</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 432px;"><a href="#">Forms</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-forms">Forms</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 648px;"><a href="#">Typography</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-type">Type</a></li>
          <li><a class="" href="#doc-labels">Labels</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 864px;"><a href="#">CSS Components</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-alert-boxes">Alert Boxes</a></li>
          <li><a class="" href="#doc-panels">Panels</a></li>
          <li><a class="" href="#doc-pricing-tables">Pricing Tables</a></li>
          <li><a class="" href="#doc-progress-bars">Progress Bars</a></li>
          <li><a class="" href="#doc-tables">Tables</a></li>
          <li><a class="" href="#doc-thumbnails">Thumbnails</a></li>
        </ul>
      </div>
    </section>
    <section class="section" style="">
      <p class="title" style="left: 1080px;"><a href="#">Javascript</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-clearing">Clearing</a></li>
          <li><a class="" href="#doc-section">Section</a></li>
          <li><a class="" href="#doc-tooltips">Tooltips</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="large-12 columns text-center">
      <a href="http://github.com/websymphony/almost-flat-ui" class="button alert radius">Download</a>
      <hr>
    </div>
  </div>
</div>