<div class="large-3 columns">
  <div class="docs section-container accordion" data-section="" data-options="deep_linking: false" style="">

    <section class="section  active" style="padding-top: 48px;">
      <p class="title" style="left: 0px;"><a href="#">Postings</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-pagination">Create a Posting</a></li>
          <li><a class="" href="#doc-sidenav">Sort by Date</a></li>
          <li><a class="" href="#doc-subnav">Sort Alphabetically</a></li>
          <li><a class="" href="#doc-topbar">Sort by Rating</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 216px;"><a href="#">Users</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-almost-flat-buttons">Edit my profile</a></li>
          <li><a class="" href="#doc-almost-flat-button-groups">View Users</a></li>
        </ul>
      </div>
    </section>
    <section class="section ">
      <p class="title" style="left: 432px;"><a href="#">Companies</a></p>
      <div class="content" style="">
        <ul class="side-nav">
          <li><a class="" href="#doc-forms">Create a Company</a></li>
          <li><a class="" href="#doc-almost-flat-button-groups">View Companies</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>